@import "./Vars.scss";
@import "./Typography.scss";
 
.au-video {
   .au-video-background {
       position: absolute;
       width: 65%;
       height: 350px;
       @media screen and (max-width: $md){
           width: 100%;
           height: 250px;
           left: 2.5%;
       }
       @media screen and (max-width: $lg) and (min-width: $md) {
           width: 80%;
           height: 250px;
           left: 10.5%;
       }
       top: 5px;
       left: 18.5%;
       z-index: 10;
       border: 2px solid $color-purple-lightest;
       pointer-events: none;
   }
    .au-video-wrapper {
       width: 100%;
       position: relative;
     .about-us-video{
       // box-shadow: 10px 10px 0px -5px $color-purple-lightest;
       // width: 100%;
       width: 65%;
       height: 350px;
       @media screen and (max-width: $md){
           width: 100%;
           height: 250px;
           left: 2%;
       }
       @media screen and (max-width: $lg) and (min-width: $md) {
           width: 80%;
           height: 250px;
           left: 10%;
       }
       z-index: 100;
       position: relative;
       top: 15%;
       left: 18%;
       cursor: pointer;
       transition: 0.6s all;
       &:hover {
         transform: translate(7px, 7px);
       }
     }
   }
}
 
.about-us-no-icon{
   padding-bottom: $spacer-five + 1;
   h1 {
       padding-bottom: $spacer-two;
   }
}
 
// .about-us-video {
//  display: block;
//  margin: auto;
//  width: 60%;
//  height: 75%;
//  margin-top: $spacer-two;
 
//  @media screen and (max-width: $md){
//      width: 100%;
//      height: 60%;
//  }
// }
 
#about-us-blurb {
   margin-top: $spacer-one;
   padding-top: $spacer-two;
   font-size: 2.4rem;
   line-height: 3.2rem;
   text-align: center;
 }
 #about-us-icon {
   font-size: 8rem;
   text-align: center;
   margin-top: $spacer-two;
}
  #about-us-page {
   padding-top: $spacer-four;
   //padding-bottom: $spacer-four;
 }
  #about-us-icon-title {
   text-align: center;
   margin-bottom: $spacer-one;
 }
  #about-us-description {
   font-size: 1.6rem;
   line-height: 1.8rem;
 }
 
 .about-us-icons {
   margin-top: $spacer-two;
 
   @media screen and (max-width: $md){
       margin-top: 0;
   }
 }

