@import "./Typography.scss";
@import "./Vars.scss";

.darkest-background-section {
  background-color: $color-purple-darkest;
  color: $color-purple-lightest;
}

.mid-background-section {
  background-color: $color-purple-mid;
  color: $color-purple-lightest;
}

.white-background-section {
  background-color: $color-white;
  color: $color-purple-mid;
}

.lightest-background-section {
  background-color: $color-purple-lightest;
  color: $color-purple-mid;
}

#about-us-blurb{
  padding-top:$spacer-three;
  padding-bottom:$spacer-three;
}
#about-us-icon{
  font-size: 8rem;
  text-align: center;
}


#about-us-page{
  padding-top:$spacer-four;
  padding-bottom:$spacer-four;
}

#about-us-icon-title{
  text-align: center;
  margin-bottom: $spacer-one;
}

#about-us-description{
  font-size: 1.2rem;
  line-height: 1.4rem;
}
