@import "./Typography.scss";
@import "./Vars.scss";
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.darkest-background-section {
  background-color: $color-purple-darkest;
  color: $color-purple-lightest;
}

.mid-background-section {
  background-color: $color-purple-mid;
  color: $color-purple-lightest;
}

.white-background-section {
  background-color: $color-white;
  color: $color-purple-mid;
}

.lightest-background-section {
  background-color: $color-purple-lightest;
  color: $color-purple-mid;
}

#about-us-blurb {
  padding-top: $spacer-three;
  font-size: 2.4rem;
  line-height: 3.2rem;
}

#about-us-icon {
  font-size: 8rem;
  text-align: center;
  margin-top: $spacer-two;
}

#about-us-page {
  padding-top: $spacer-four;
  padding-bottom: $spacer-four;
}

#join-us-body {
  text-align: center;
}

#join-us-quote-icon {
  font-size: 5rem;
  color: $color-white;
  padding-top: $spacer-two;
}

#join-us-quote {
  font-size: 4.5rem;
  line-height: 5.5rem;
  color: $color-white;
}

#join-us-page {
  padding-top: $spacer-four;
  padding-bottom: $spacer-four;
}

#quote-bold {
  font-weight: 700;
  background: linear-gradient(
    to top,
    $color-purple-darkest 50%,
    transparent 50%
  );
}

#slider-img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

#slider-img {
  height: 15rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.3s ease;
}

#slider-img-container {
  text-align: center;
}

#photo-gallery {
  padding-top: $spacer-three;
}

#about-us-icon-title {
  text-align: center;
  margin-bottom: $spacer-one;
}

#about-us-description {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.teamTitle {
  padding-top: $spacer-four;
  padding-bottom: $spacer-three;
}

.memberImage {
  box-shadow: 10px 10px 0px -5px $color-purple-lightest;
  width: 100%;
  height: 100%;
}

.teamInfo {
  color: $color-white;
  padding-top: $spacer-two;
  text-align: left;
  color: $color-purple-lightest;
}

.teamPosition {
  padding-top: $spacer-base;
  margin-bottom: $spacer-two;
  color: $color-purple-lightest;
}

.involve-title {
  font-weight: 700;
  margin-bottom: $spacer-base;
}

.member-popup {
  z-index: 1000;
  position: fixed;
  top: 15%;
  bottom: 15%;
  left: 20%;
  right: 20%;
  border: 2px solid $color-purple-darkest;
  background: $color-purple-lightest;
  padding: $spacer-two;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

.member-popup-info {
  color: $color-purple-darkest;
  text-align: left;
}

.member-popup-name {
  font-weight: bold;
}

.member-popup-bio {
  padding-top: 10%;
}

.member-popup-socials {
  text-align: center;
  padding: 70px 0;
}

.exitButton {
  background-color: $color-purple-lightest;
  border: none;
  color: $color-purple-darkest;
  display: inline-block;
  font-size: 250%;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 2%;
}

.transparent-background-section {
  background-color: $color-purple-lightest-transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#GetInvolvedMargin {
  margin-top: $spacer-four;
  margin-left: $spacer-three;
  margin-bottom: $spacer-three;
}

#GetInvolvedMentorBPC {
  margin-bottom: $spacer-two;
}

#GetInvolvedEdgeSocials {
  margin-bottom: $spacer-two;
}

#GetInvolvedBottom {
  margin-top: $spacer-contactUs;
}

#GetInvolvedNum {
  color: $color-purple-lightest-transparent;
  font-family: Kollektif-Bold;
  font-size: 20rem;
  line-height: 16rem;
}

#ContactUsTitle {
  margin-top: $spacer-four;
  margin-bottom: $spacer-three;
}

#Trademark {
  margin-top: $spacer-contactUs;
  margin-bottom: $spacer-two;
  text-align: center;
}

#ContactUsParent {
  display: flex;
}

#ContactUsMailFacebook {
  margin-right: $spacer-two;
  margin-bottom: $spacer-two;
}

#ContactUsLinkedInsta {
  margin-right: $spacer-two;
  margin-bottom: $spacer-two;
}

#ContactUsText {
  color: $color-purple-mid;
  font-family: Kollektif;
  font-size: 3.6rem;
  line-height: 3.6rem;
}

#TrademarkBold {
  font-weight: bold;
}

.common-button {
  height: 5rem;
  position: relative;
  white-space: nowrap;
  margin: $spacer-two 0;
  left: 50%;
  width: max-content;
}

.primary {
  @extend .common-button;

  .front-button {
    position: absolute;
    left: auto;
    right: auto;
    height: 5rem;
    padding: 0 5rem;
    color: $color-purple-mid;
    border: 2px solid $color-purple-mid;
    transition: 0.5s all;
    z-index: 100;
    text-align: center;
  }

  .front-button:hover {
    transform: translate(5px, 5px);
  }

  .back-button {
    position: absolute;
    top: 5px;
    left: 9px;
    height: 5rem;
    padding: 0 5rem;
    background-color: $color-purple-mid;
    z-index: 10;
    pointer-events: none;

    h5 {
      opacity: 0;
    }
  }
}

.secondary {
  @extend .common-button;

  .front-button {
    position: absolute;
    height: 5rem;
    padding: 0 5rem;
    color: $color-purple-mid;
    background-color: $color-purple-lightest;
    border: 2px solid $color-purple-lightest;
    transition: 0.5s all;
    z-index: 100;
  }

  .front-button:hover {
    transform: translate(6px, 4px);
  }

  .back-button {
    position: absolute;
    top: 2px;
    left: 6px;
    height: 5rem;
    padding: 0 5rem;
    z-index: 10;
    pointer-events: none;
    border: 2px solid $color-purple-lightest;

    h5 {
      opacity: 0;
    }
  }
}


.homeButtons{
  position: relative;

  .front-button {
    height: 5rem;
    padding: 0 5rem;
    color: $color-purple-lightest;
    background-color: $color-purple-mid;
    border: 2px solid $color-purple-mid;
    transition: 0.5s all;
    z-index: 100;
  }

  .front-button:hover {
    transform: translate(6px, 4px);
  }

  .back-button {
    position: absolute;
    top: 2px;
    left: 6px;
    height: 5rem;
    padding: 0 5rem;
    z-index: -100;
    border: 2px solid $color-purple-mid;
    background-color: $color-purple-lightest;

    h5 {
      opacity: 0;
    }
  }
}

#homeCenterButton{
  text-align: center;
}

#homeImage{
  background-image: url("../static/homeOverlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}

#homeCenterText{
  text-align: center;
  color: $color-purple-mid;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 2.4rem;
  margin-top: $spacer-one;
  margin-bottom: $spacer-two;
}

#homeCenterLogo{
  text-align: center;
  margin-top: 22%;
}

#homeCenterContainer{
  position: relative;
}

img{
  max-width: 100%;
}

#sponsorsTitleMargin{
  margin-top: $spacer-four;
}
#logoMargin{
  margin-top: $spacer-three;
}

#learnMoreButton{
  margin-top: $spacer-three;
  margin-bottom: $spacer-four;

}
#sponsorUsButton{
  margin-top: $spacer-three;
  margin-bottom: $spacer-four;
  
}
#centerButtons{
  justify-content: center;  
}


#navbar-container {
  padding-top: $spacer-one;
  padding-bottom: $spacer-one;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 8rem;
  margin-top: -8rem;
  padding-left: $spacer-two;
  padding-right: $spacer-two;
  z-index: 100;

  h6 {
    font-family: Kollektif;
    font-size: 1.6rem;
    line-height: 1.6rem;
    cursor: pointer;
  }

}

.navbar-wic-logo {
  height: 4rem;
}

#img-container {
  width: 50%;
}

.navbar-active {
  font-family: Kollektif-Bold;
  border-bottom: 4px solid white;
  cursor: pointer; 
}

.navbar-transparent{
  background-color: "transparent";
}

.navbar-opaque{
  background-color: $color-purple-darkest;
}

.navbar-purple-heading {
  color: $color-purple-mid;
}

.navbar-white-heading {
  color: white;
}
