@import "./Typography.scss";
@import "./Vars.scss";

.darkest-background-section {
  background-color: $color-purple-darkest;
  color: $color-purple-lightest;
}

.mid-background-section {
  background-color: $color-purple-mid;
  color: $color-purple-lightest;
}

.white-background-section {
  background-color: $color-white;
  color: $color-purple-mid;
}

.lightest-background-section {
  background-color: $color-purple-lightest;
  color: $color-purple-mid;
}

#GetInvolvedMargin{
  margin-top: $spacer-four;
  margin-left: $spacer-three;
  margin-bottom: $spacer-three;
}

#GetInvolvedMentorBPC{
  margin-bottom: $spacer-two;
}

#GetInvolvedEdgeSocials{
  margin-bottom: $spacer-two; 
}

#GetInvolvedBottom{
  margin-top: $spacer-contactUs;
}

#GetInvolvedNum{
  color: $color-purple-lightest-transparent;
  font-family: Kollektif-Bold;
  font-size: 20rem;
  line-height: 16rem;
}

#ContactUsTitle{
  margin-top: $spacer-four;
  margin-bottom: $spacer-three;
}

#Trademark{
  margin-top: $spacer-contactUs;
  margin-bottom: $spacer-two;
  text-align: center;
}

#ContactUsParent{
  display: flex;
}

#ContactUsMailFacebook{
  margin-right: $spacer-two;
  margin-bottom: $spacer-two;
}

#ContactUsLinkedInsta{
  margin-right: $spacer-two;
  margin-bottom: $spacer-two;
}

#ContactUsText{
  color: $color-purple-mid;
  font-family: Kollektif;
  font-size: 3.6rem;
  line-height: 3.6rem;
}

#TrademarkBold{
  font-weight: bold;
}