@import "./Vars.scss";
@import "./Typography.scss";


#navbar-container {
	padding-top: $spacer-one;
	padding-bottom: $spacer-one;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
  
 #navbar-sticky {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 8rem;
	margin-top: -8rem;
	padding-left: $spacer-two;
	padding-right: $spacer-two;
	z-index: 100000;
  
	h6 {
	  font-family: Kollektif;
	  font-size: 1.6rem;
	  line-height: 1.6rem;
	  cursor: pointer;
	}
}
  
.navbar-wic-logo {
	height: 4rem;
}
  
#img-container {
	width: 50%;
	img {
	  cursor: pointer;
	}
}
  
 .navbar-active {
	font-family: Kollektif-Bold;
	// border-bottom: 4px solid white;
	background: linear-gradient(
	  to top,
	  $color-white 50%,
	  transparent 50%
	);
	cursor: pointer;
}
  
.navbar-purple-heading {
	color: $color-purple-darkest;
}
  
.navbar-transparent {
	background-color: "transparent";
}
  
.navbar-opaque {
	background-color: $color-purple-lightest;
}
  
.navbar-white-heading {
	color: white;
}
  