@import "./Reset.scss";
@import "./Vars.scss";
@import "~fontsource-kumbh-sans/index.css";
@import "~fontsource-kumbh-sans/700.css";

html {
  @media screen and (min-width: $lg) {
    font-size: 10px;
  }

  @media screen and (min-width: $sm) and (max-width: $lg) {
    font-size: 8px;
  }

  @media screen and (max-width: $sm) {
    font-size: 7px;
  }
}

@font-face {
  font-family: Kollektif, Arial, Helvetica, sans-serif;
  src: url("./fonts/Kollektif.eot");
  src: url("./fonts/Kollektif.ttf") format("truetype"),
    url("./fonts/Kollektif.svg") format("svg"),
    url("./fonts/Kollektif.otf") format("otf"),
    url("./fonts/Kollektif.woff") format("woff"),
    url("./fonts/Kollektif.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: Kollektif-Bold, Arial, Helvetica, sans-serif;
  src: url("./fonts/Kollektif-Bold.eot");
  src: url("./fonts/Kollektif-Bold.ttf") format("ttf"),
    url("./fonts/Kollektif-Bold.svg") format("svg"),
    url("./fonts/Kollektif-Bold.otf") format("otf"),
    url("./fonts/Kollektif-Bold.woff") format("woff"),
    url("./fonts/Kollektif-Bold.woff2") format("woff2");
  font-weight: bold;
}

h1 {
  //font-family: Kollektif-Bold;
  font-family: "Kumbh Sans" ;
  font-weight: 800;
  font-size: 7.2rem;
  line-height: 7.2rem;
}

h2 {
  //font-family: Kollektif-Bold;
  font-family: "Kumbh Sans" ;
  font-weight: 800;
  font-size: 5.2rem;
  line-height: 5.2rem;
}

h3 {
  //font-family: Kollektif-Bold;
  font-family: "Kumbh Sans" ;
  font-size: 3.2rem;
  line-height: 3.2rem;
}

h4 {
  //font-family: Kollektif-Bold;
  font-family: "Kumbh Sans" ;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

h5 {
  //font-family: Kollektif;
  font-family: "Kumbh Sans" ;
  font-size: 2.2rem;
  line-height: 2.4rem;
}

h6 {
  //font-family: Kollektif-Bold;
  font-family: "Kumbh Sans" ;
  font-weight: 800;
  font-size: 1.8rem;
  line-height: 1.8rem;
}

p {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

li {
  list-style-type: disc;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

a {
  text-decoration: none;
  // color: $color-purple-mid;
}
