/*
* SCREEN BREAKPOINTS
*/

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*
* MARGINS
*/
$spacer-base: 1rem;
$spacer-one: $spacer-base * 2;
$spacer-contactUs: $spacer-one * 3;
$spacer-two: $spacer-one * 2;
$spacer-three: $spacer-two * 2;
$spacer-four: $spacer-base * 10;
$spacer-five: $spacer-base * 12;

/*
* COLORS
*/
$color-white: #ffffff;
$color-purple-lightest: #e7d1f4;
$color-purple-lightest-transparent: rgba(231, 209, 244, 0.24);
$color-purple-mid: #4d4c7d;
$color-purple-darkest: #363062;
$color-black: #000000;
$color-black-transparent: #000000c7;
