/*
* SCREEN BREAKPOINTS
*/

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/*
* COLORS
*/
$color-white: #ffffff;
$color-purple-lightest: #e7d1f4;
$color-purple-mid: #4d4c7d;
$color-purple-darkest: #363062;
$color-black: #000000;
